# =====================================================================
# Virtual Environment
# =====================================================================
.venv/
venv/

# =====================================================================
# Python Cache
# =====================================================================
__pycache__/
*.py[cod]
*$py.class

# =====================================================================
# Environment Variables
# =====================================================================
.env

# =====================================================================
# IDE
# =====================================================================
.vscode/
.idea/

# =====================================================================
# Uploaded Files
# =====================================================================
data/uploads/

# =====================================================================
# Logs
# =====================================================================
*.log

# =====================================================================
# OS Files
# =====================================================================
.DS_Store
Thumbs.db